@import "./node_modules/bootstrap/scss/bootstrap.scss";

*{
  font-family: 'Parkinsans', serif;
}
.footer{
  max-height: 100px;
  background-color: #000;
}
@media only screen and (max-width: 992px) {
  
}
.audio-control{
  background-color: #7D49CA;
}